<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>App (iOS).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>App (macOS).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>AppTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>WebShield Advanced.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>WebShield Filters.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>WebShield.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>a.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>00026EB52C2B96740087E1DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>000F2C9F2D2E533400871D5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>000F2CB02D2E533500871D5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>000F2CBA2D2E533500871D5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>000F2CCF2D2E534600871D5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>000F2CE32D2E535400871D5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>001848612C2956AC00EE2E7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00333FA92C3CC52E0031AEC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>003BEF6D2C2BC10800CCC3EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>006959532C427DC0008A6204</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>006FC39B2D3095DD0091056F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>008F153C2C2D95DC000BEE0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00A319552C3CAE9D007743FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00C2BE0B2D2E31F9000B431F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00C2BE302D2E327F000B431F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00C356262D2EEFE000BACCE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
